<div class="full_screen">
    <div class="menu">
        <button (click)="selectView('chat')" class="mat-menu-item manito"
            [ngClass]="{'highlight': selectedView == 'chat'}">
            <mat-icon>chat</mat-icon>
            <span>Chat</span>
        </button>
        <button (click)="selectView('json')" class="mat-menu-item manito"
            [ngClass]="{'highlight': selectedView == 'json'}">
            <mat-icon>park</mat-icon>
            <span>Árbol de datos</span>
        </button>
        <button (click)="selectView('grafo')" class="mat-menu-item manito"
            [ngClass]="{'highlight': selectedView == 'grafo'}">
            <mat-icon>account_tree</mat-icon>
            <span>Estado</span>
        </button>
    </div>
    <div class="content full_content">
        <div *ngIf="selectedView == 'chat'">
            <select class="bigselect" [(ngModel)]="selectedAction" (change)="updateSample($event)">
                <option value="chatMessage">Chat</option>
                <option value="buscarParticipantes">Buscar participantes</option>
                <option value="createScore">Crear Score</option>
                <option value="updateScore">Actualizar Score</option>
                <option value="selectScenario">Seleccionar Escenario</option>
                <option value="stateWrite">Escribir estado</option>
                <option value="stateRead">Leer estado</option>
                <option value="startGame">Iniciar Entrenamiento</option>
                <option value="endGame">Finalizar Entrenamiento</option>
                <option value="updateCode">Actualizar Código</option>
                <option value="writeFile">write file</option>
            </select>
            <br>
            <textarea class="bigtextarea" style="width: 100%; height: 100px;" [(ngModel)]="mymessage"></textarea>
            <button (click)="sendMessage()" class="mat-menu-item manito" style="width: 100%;">
                <mat-icon>play_arrow</mat-icon>
                <span>Enviar</span>
            </button>
            <button (click)="askForFile()" class="mat-menu-item manito">
                <mat-icon>file_upload</mat-icon>
                <span>Sincronizar Archivo</span>
            </button>
            <ul>
                <li *ngFor="let message of messages">{{ message }}</li>
            </ul>
        </div>
        <div *ngIf="selectedView == 'json'">
            <pre [innerHtml]="modelState | jsonColor"></pre>
        </div>
        <div *ngIf="selectedView == 'grafo'">
            <svg #mySvg class="svgcontainer" [innerHtml]="graphHtml" *ngIf="graphRecomputeBoundingBox()">

            </svg>
        </div>
    </div>
</div>