.full_screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.full_screen .full_content {
  flex: 1;
  overflow: scroll;
}

.full_screen .fill {
  flex: 1;
  position: relative;
}

.full_screen .fill .all_scroll_left {
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 34%;
  bottom: 0;
}

.full_screen .fill .all_scroll_right {
  position: absolute;
  top: 0;
  left: 66%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.full_screen .fill .all_scroll_right .content_pre {
  overflow: scroll;
}

.bigselect,
.biginput {
  font-size: 18px;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  width: 100%;
}

.bigselect2 {
  font-size: 18px;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  position: relative;
  top: -4px;
}

.voice_recognition {
  background-color: lightyellow;
  cursor: unset;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

.bigtextarea {
  font-size: 18px;
  background-color: lightyellow;
}

.chat_parent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chat_child {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.boton_enviar {
  background-color: #b0ffba;
  border-radius: 10px;
  padding: 10px 10px 10px 0;
}

.boton_sincornizar {
  background-color: #ffdaa9;
  border-radius: 10px;
  padding: 10px 10px 10px 0;
}

.select_action {
  background-color: #d9d9ff;
  border-radius: 10px;
}

.graph_class {
  cursor: pointer;
}

.subtitles_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.subtitles_container .button_container {
  height: 100px;
  width: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.subtitles_container .button_container .language {
  display: flex;
  flex-direction: row;
}

.subtitles_container .button_container button {
  width: 100%;
  flex: 1;
  border-radius: 100%;
  background-color: #ebebeb;
}

.subtitles_container .white_subtitle {
  padding: 10px;
  flex: 1;
}

.subtitles_container .white_subtitle p {
  font-size: 3em;
  text-align: center;
  line-height: 1em;
}

.view3d {
  display: flex;
  flex-direction: row;
}

.view3d app-threejs-gallery {
  flex: 1;
  position: relative;
}

.view3d app-scrollfiles {
  width: 300px;
}

.subtitles_container.shortView {
  right: 300px;
}

.backgrounds.blanco {
  background-color: #ffffff;
}

.backgrounds.negro {
  background-color: #000000;
}

.backgrounds.rojo {
  background-color: #ff0000;
}

.backgrounds.azul {
  background-color: #0000ff;
}

.show_json_model_container {
  display: flex;
  flex-direction: row;
}

.show_json_model_container > * {
  flex: 1;
}

.mat-menu-item.selected,
button.selected {
  background-color: #008f0c !important;
  color: white;
}
