<div class="full_screen">
    <div class="menu">
        <button (click)="selectView('chat')" class="mat-menu-item manito"
            [ngClass]="{'highlight': selectedView == 'chat'}">
            <mat-icon>chat</mat-icon>
            <span>Consola de control & log</span>
        </button>
        <button (click)="selectView('grafo')" class="mat-menu-item manito"
            [ngClass]="{'highlight': selectedView == 'grafo'}">
            <mat-icon>account_tree</mat-icon>
            <span>Árbol de decisión & estado</span>
        </button>
    </div>
    <div *ngIf="selectedView !== 'chat'">
        <input type="text" class="voice_recognition" placeholder="voice ..." [(ngModel)]="myvoice"
            (keyup.enter)="sendVoice()" />
    </div>
    <div class="content full_content" *ngIf="selectedView == 'chat'">
        <div class="chat_parent">
            <div class="chat_child">
                <select class="bigselect select_action" [(ngModel)]="selectedAction" (change)="updateSample($event)">
                    <option value="chatMessage">Chat</option>
                    <option value="buscarParticipantes">Buscar participantes</option>
                    <option value="createScore">Crear Score</option>
                    <option value="updateScore">Actualizar Score</option>
                    <option value="selectScenario">Seleccionar Escenario</option>
                    <option value="stateWrite">Escribir estado</option>
                    <option value="stateRead">Leer estado</option>
                    <option value="startGame">Iniciar Entrenamiento</option>
                    <option value="endGame">Finalizar Entrenamiento</option>
                    <option value="updateCode">Actualizar Código</option>
                    <option value="writeFile">write file</option>
                </select>
                <textarea class="bigtextarea" style="height: 100px;" [(ngModel)]="mymessage"></textarea>
                <button (click)="sendMessage()" class="mat-menu-item manito boton_enviar" style="width: 100%;">
                    <mat-icon>play_arrow</mat-icon>
                    <span>Enviar</span>
                </button>
                <button (click)="askForFile()" class="mat-menu-item manito boton_sincornizar">
                    <mat-icon>file_upload</mat-icon>
                    <span>Sincronizar Archivo</span>
                </button>
                <ul>
                    <li *ngFor="let message of messages">{{ message }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content fill" *ngIf="selectedView == 'grafo'">
        <div class="all_scroll_left">
            <svg #mySvg class="" [innerHtml]="graphHtml"></svg>
        </div>
        <div class="all_scroll_right">
            <input type="text" class="voice_recognition" placeholder="key path ..." [(ngModel)]="mypath"
                (keyup.enter)="setPath()" />
            <div class="content_pre">
                <pre [innerHtml]="modelStatePath | jsonColor"></pre>
            </div>
        </div>
    </div>
</div>