<pre>{{ tupleModel | json }}</pre>
<button (click)="setTime()">Catch Time</button>
<div style="padding: 10px;">
    <app-blobeditor [options]="blobOptions" (eventSave)="generalSave($event, saveBlobRef)" [url]="tupleModel?.blobFile">
    </app-blobeditor>
</div>
<div style="padding: 10px;">
    <app-txtfileeditor [options]="textOptions" [fileName]="'script.txt'" (eventSave)="generalSave($event, saveTextRef)"
        [url]="tupleModel?.txtFile">
    </app-txtfileeditor>
</div>
<div style="width: 500px; height: 500px;">
    <app-imagepicker [options]="imageOptions" [fileName]="'imagen.jpg'" (eventSave)="generalSave($event, saveImageRef)"
        [url]="tupleModel?.image">
    </app-imagepicker>
</div>