:host {
  position: absolute;
  width: 400px;
  display: block;
}

.card_parent {
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card_parent .top_holder {
  height: 25px;
  width: 100%;
  background-color: black;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
  border: 1px solid;
  border-color: black;
  display: flex;
  flex-direction: row-reverse;
}

.card_parent .top_holder mat-icon {
  color: white;
}

.card_parent .body_detail {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  flex-direction: column;
}

.pixel_connector {
  position: absolute;
  width: 0px;
  height: 0px;
}

.pixel_connector.hour_12 {
  top: 0px;
  left: 50%;
}

.pixel_connector.hour_6 {
  bottom: 0px;
  left: 50%;
}

.pixel_connector.hour_3 {
  right: 0px;
  top: 50%;
}

.pixel_connector.hour_9 {
  left: 0px;
  top: 50%;
}

.pixel_connector .circle_conector {
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-color: rgb(0 0 0);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: -5px;
  cursor: pointer;
}

.pixel_connector .circle_conector:hover {
  background-color: red;
}

.pixel_connector .hidden_helper {
  position: absolute;
  width: 300px;
  height: 300px;
  left: -150px;
  top: -150px;
}

.body_content {
  padding: 10px;
}
