<pre>isWebSocketOk: {{ mySocketStream?.isWebSocketOk | json }}</pre>
<pre>isChannelReady: {{ mySocketStream?.isChannelReady | json }}</pre>
<pre>isInitiator: {{ mySocketStream?.isInitiator | json }}</pre>
<pre>isStarted: {{ mySocketStream?.isStarted | json }}</pre>

<button type="button" (click)="startAll(true)">Master Join</button>
<button type="button" (click)="slaveJoin()">Slave Join</button>
<button type="button" (click)="leaveRoom()">Leave</button>
<video id="localVideo" autoplay muted></video>
<video id="remoteVideo" autoplay></video>