.level_0 {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.head_part {
  width: 100%;
  background-color: darksalmon;
}

.body_part {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: rgb(167 175 255);
  position: relative;
}

.body_part .scroll_body {
  overflow: scroll;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.arrow_box {
  position: absolute;
  /*
  background-color: aquamarine;
  opacity: 0.5;
  border: 1px solid;
  border-color: blue;
  */
}

.arrow_box .pixel_center {
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  position: absolute;
}

.arrow_box .pixel_center .arrow_content {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
  position: relative;
  width: 200px;
  left: -100px;
  display: flex;
  flex-direction: column;
}

.arrow_box .pixel_center .arrow_content .arrow_header {
  display: flex;
  flex-direction: row-reverse;
  height: 25px;
}

.arrow_box .pixel_center .arrow_content .arrow_body {
  padding: 5px;
  flex: 1;
}

.arrow_box .curve {
  position: absolute;
  width: 50%;
  height: 50%;
  border-color: white;
}

.arrow_box.arr_11 .curve:nth-child(1) {
  left: -1px;
  top: -1px;
  border-bottom-left-radius: 100%;
  border-bottom: 2px dashed;
  border-left: 2px dashed;
}
.arrow_box.arr_11 .curve:nth-child(2) {
  right: -1px;
  bottom: -1px;
  border-top-right-radius: 100%;
  border-top: 2px dashed;
  border-right: 2px dashed;
}

.arrow_box.arr_12 .curve:nth-child(1) {
  right: -1px;
  bottom: -1px;
  border-bottom-left-radius: 100%;
  border-bottom: 2px dashed;
  border-left: 2px dashed;
}
.arrow_box.arr_12 .curve:nth-child(2) {
  left: -1px;
  top: -1px;
  border-top-right-radius: 100%;
  border-top: 2px dashed;
  border-right: 2px dashed;
}

.arrow_box.arr_21 .curve:nth-child(1) {
  left: -1px;
  bottom: -1px;
  border-bottom-right-radius: 100%;
  border-bottom: 2px dashed;
  border-right: 2px dashed;
}
.arrow_box.arr_21 .curve:nth-child(2) {
  right: -1px;
  top: -1px;
  border-top-left-radius: 100%;
  border-top: 2px dashed;
  border-left: 2px dashed;
}

.arrow_box.arr_22 .curve:nth-child(1) {
  right: -1px;
  top: -1px;
  border-bottom-right-radius: 100%;
  border-bottom: 2px dashed;
  border-right: 2px dashed;
}
.arrow_box.arr_22 .curve:nth-child(2) {
  left: -1px;
  bottom: -1px;
  border-top-left-radius: 100%;
  border-top: 2px dashed;
  border-left: 2px dashed;
}

.arrow_box.arr_31 .curve:nth-child(1) {
  right: -1px;
  bottom: -1px;
  border-top-right-radius: 100%;
  border-top: 2px dashed;
  border-right: 2px dashed;
}
.arrow_box.arr_31 .curve:nth-child(2) {
  left: -1px;
  top: -1px;
  border-bottom-left-radius: 100%;
  border-bottom: 2px dashed;
  border-left: 2px dashed;
}

.arrow_box.arr_32 .curve:nth-child(1) {
  left: -1px;
  top: -1px;
  border-top-right-radius: 100%;
  border-top: 2px dashed;
  border-right: 2px dashed;
}
.arrow_box.arr_32 .curve:nth-child(2) {
  right: -1px;
  bottom: -1px;
  border-bottom-left-radius: 100%;
  border-bottom: 2px dashed;
  border-left: 2px dashed;
}

.arrow_box.arr_41 .curve:nth-child(1) {
  right: -1px;
  top: -1px;
  border-top-left-radius: 100%;
  border-top: 2px dashed;
  border-left: 2px dashed;
}
.arrow_box.arr_41 .curve:nth-child(2) {
  left: -1px;
  bottom: -1px;
  border-bottom-right-radius: 100%;
  border-bottom: 2px dashed;
  border-right: 2px dashed;
}

.arrow_box.arr_42 .curve:nth-child(1) {
  left: -1px;
  bottom: -1px;
  border-top-left-radius: 100%;
  border-top: 2px dashed;
  border-left: 2px dashed;
}
.arrow_box.arr_42 .curve:nth-child(2) {
  right: -1px;
  top: -1px;
  border-bottom-right-radius: 100%;
  border-bottom: 2px dashed;
  border-right: 2px dashed;
}
