.main_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas_container {
  height: 100%;
  width: 100%;
  position: relative;
}

.main_container .back {
  position: absolute;
  left: 0;
  top: 0;
}

.main_container canvas {
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
  border-radius: 5px;
}

.main_container canvas.front {
  position: relative;
  z-index: 2;
  box-shadow: 1px 1px 4px 1px #c7c8ca;
}

.menu_container {
  z-index: 3;
  width: 100%;
  position: relative;
}

.local_icon {
  position: absolute;
  left: -16px;
  bottom: -16px;
}

.transparente {
  visibility: hidden;
}
