.main_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9px;
}

.canvas_container {
  height: 100%;
  width: 100%;
  position: relative;
  box-shadow: 1px 1px 4px 1px #c7c8ca;
  border-radius: 5px;
}

.main_container .back {
  position: absolute;
  left: 0;
  top: 0;
}

.main_container canvas {
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
}

.main_container canvas.front {
  position: relative;
  z-index: 2;
}

.menu_container {
  position: absolute;
  left: -16px;
  top: -16px;
  z-index: 3;
  width: 29px;
}
