<div class="encabezado">
    <app-audioeditor [fileName]="'general.mp3'" [options]="audioOptions" [url]="tupleModel?.generalAudioFile"
        (cutEvent)="receiveCuttedAudio($event);">
    </app-audioeditor>
</div>
<!--button (click)="borrarTodo()">Borrar Todo</button-->
<div class="all_tale" *ngIf="tupleModel != null && tupleModel.cuttedAudios">
    <div class="card_page" *ngFor="let talePage of getTalePageMap() | keyvalue : talePageOrder; trackBy: trackByItems ">
        <div class="menu_container">
            <div class="generic_icon" [matMenuTriggerFor]="myMenu" aria-label="Menú">
                <mat-icon>menu</mat-icon>
            </div>
            <mat-menu #myMenu="matMenu">
                <button (click)="deleteTalePage(talePage.key, talePage.value)" mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Borrar</span>
                </button>
            </mat-menu>
        </div>
        <app-audioeditor [fileName]="talePage.value.key+'_sound.mp3'" [options]="audioOptionsReadOnly"
            [url]="talePage.value.audioUrl" [externalBlob]="getTemporalBlob(talePage.key)"
            (urlChange)="talePage.value.audioUrl=$event; forgetTemporalBlob(talePage.key); saveTuple()">
        </app-audioeditor>
        <div class="pictures">
            <app-canvaseditor [url]="talePage.value.canvasUrl"
                (urlChange)="talePage.value.canvasUrl=$event; saveTuple()"
                [defaultFileName]="getDefaultCanvasImageName(talePage.value.key)" [options]="imageOptions">
            </app-canvaseditor>
        </div>
    </div>
</div>