.encabezado {
  padding: 10px;
}

h1 {
  margin: 10px 0 0 0;
}

.all_tale {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.all_tale .card_page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.all_tale .card_page .pictures {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.all_tale .card_page .pictures app-canvaseditor {
  flex: 1;
  /*height: 60vh;*/
  max-width: 90vw;
}
