<div class="encabezado">
    <app-audioeditor [fileName]="'general.mp3'" [options]="audioOptions" [url]="tupleModel?.generalAudioFile"
        (cutEvent)="receiveCuttedAudio($event);">
    </app-audioeditor>
</div>
<p>ffmpeg -stream_loop -1 -i mygift.gif -i liebretortuga.mp3 -map 0 -map 1:a -c:v libx265 -crf 26 -preset ultrafast -s 500x500 -pix_fmt yuv420p -c:a aac -movflags +faststart -shortest output.mp4</p>
<button (click)="loginSrv.login()">Login</button>
<button (click)="buildAudio()">Build Audio</button>
<button (click)="buildGif()">Build Gif</button>
<button (click)="saveTuple()">Guardar</button>
<div class="all_tale" *ngIf="tupleModel != null && tupleModel.cuttedAudios">
    <form [formGroup]="formGroup">
        <div class="card_page"
            *ngFor="let talePage of getTalePageMap() | keyvalue : talePageOrder; index as i; trackBy: trackByItems ">
            <div class="menu_container">
                <h1>{{ i + 1 }}</h1>
                <div class="generic_icon" [matMenuTriggerFor]="myMenu" aria-label="Menú">
                    <mat-icon>menu</mat-icon>
                </div>
                <mat-menu #myMenu="matMenu">
                    <button (click)="deleteTalePage(talePage.key, talePage.value)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                    <button (click)="togglePictureVisible(talePage.key)" mat-menu-item>
                        <mat-icon>image</mat-icon>
                        <span>Mostrar/esconder Imagen</span>
                    </button>
                </mat-menu>
                <h1 formControlName="{{ getFormGroupName(talePage.key) }}" contenteditable></h1>
            </div>
            <app-audioeditor [fileName]="talePage.value.key+'_sound.mp3'" [options]="audioOptionsReadOnly"
                [url]="talePage.value.audioUrl" [externalBlob]="getTemporalBlob(talePage.key)"
                (urlChange)="talePage.value.audioUrl=$event; forgetTemporalBlob(talePage.key); saveTuple()"
                (gotAudioBlob)="addAudioBuffer(talePage.key, $event)">
            </app-audioeditor>
            <div class="pictures" *ngIf="pictureIsVisible(talePage.key)">
                <app-canvaseditor [url]="talePage.value.canvasUrl"
                    (urlChange)="talePage.value.canvasUrl=$event; saveTuple()"
                    [defaultFileName]="getDefaultCanvasImageName(talePage.value.key)" [options]="imageOptions">
                </app-canvaseditor>
            </div>
        </div>
    </form>
</div>