<button (click)="saveEvent.emit()" mat-menu-item>
    <mat-icon>save</mat-icon>
    <span>Guardar</span>
</button>
<label>Vista:</label>
<select [(ngModel)]="localModel.currentViewName" (ngModelChange)="changedView($event)">
    <option disabled hidden [value]="null">-- vista --</option>
    <option *ngFor="let c of getViewOptionsList()" [ngValue]="c.val">{{c.txt}}</option>
</select>
<button (click)="addView()" mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Agregar Vista</span>
</button>
<div *ngIf="localModel.currentViewName != null">
    <button (click)="removeView(localModel.currentViewName)" mat-menu-item>
        <mat-icon>close</mat-icon>
        <span>Borrar Vista</span>
    </button>
</div>
<button (click)="add3DModel()" mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Agregar Modelo 3D</span>
</button>
<div *ngFor="let model of mymodel.models | keyvalue | sortByName">
    <app-blobeditor [options]="blobOptions" [subFolder]="'models/'+model.key+'/mesh'" [url]="model.value.objUrl"
        (urlChange)="model.value.objUrl=$event; load3DModel.emit({uid: model.key, url: $event}); saveEvent.emit();">
    </app-blobeditor>
    <app-blobeditor [options]="blobOptions" [subFolder]="'models/'+model.key+'/video'" [url]="model.value.videoUrl"
        (urlChange)="model.value.videoUrl=$event; remove3DModel.emit(model.key); saveEvent.emit();">
    </app-blobeditor>
    <pre>{{ model.value | json }}</pre>
    <button (click)="delete3DModel(model.key)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Borrar Modelo</span>
    </button>
</div>