<div class="level_0">
    <div class="head_part">
        <app-statusbar></app-statusbar>
    </div>
    <div class="body_part">
        <div class="left_part">

        </div>
        <div class="right_part">
            <app-scrollfiles [archivos]="model.archivos" (uploadFile)="uploadFile()" (deleteFile)="deleteFile($event)"
                (openFile)="openFile($event)">
            </app-scrollfiles>
        </div>
    </div>
    <div class="foot_part">
        <app-scrollnav #myScrollNav [data]="model.timeline"></app-scrollnav>
    </div>

</div>