/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.search-pages-dialog-container .mat-dialog-container {
  min-width: 80vw;
}

.edit-user-dialog-container .mat-dialog-container {
  min-width: 50vw;
}

app-webcam .webcam-wrapper {
  width: 100vw;
  height: 100vh;
}

app-webcam video {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 800px) {
  .edit-user-dialog-container .mat-dialog-container {
    min-width: 80vw;
  }
}
