<div class="parent_1">
    <div class="parent_scroll_container">
        <div class="scroll_container">
            <app-scrollfile (deleteFile)="deleteFile.emit($event)" (openFile)="openFile.emit($event)"
            (onBlur)="onBlurContentEditable()"
                *ngFor="let elemento of archivos | sortByName" [elemento]="elemento"></app-scrollfile>
        </div>
    </div>
    <div class="footer">
        <button (click)="uploadFile.emit()" mat-menu-item>
            <mat-icon>upload_file</mat-icon>
            <span>Subir</span>
        </button>
        <button (click)="saveAll.emit()" mat-menu-item>
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
        </button>
    </div>
</div>